/* Clase.css */

.Clase-container {
  margin-top: 20px;
}

.Clase-list {
  list-style-type: none;
  padding: 0;
}

.Clase-item {
  margin: 5px;
  padding: 10px;
  border: 1px solid #61dafb;
  background-color: #ffffff;
  color: #282c34;
  cursor: pointer;
}

.Clase-item:hover {
  background-color: #61dafb;
  color: #ffffff;
}